<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- base.html 확장하여 사용하기 설정 -->
    {% extends 'base.html' %} {% block title %}- Upload {% endblock title %}
    <!-- 컨텐츠 시작 -->
    {% block content %}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 panet panel-default">
        <!-- enctype는 method가 post일때만 사용가능한 옵션이다. -->
        <!-- application/x-www-form-urlencoded : 기본옵션 모든 문자열을 인코딩해 전달 -->
        <!-- multipart/form-data : 파일업로드 때 사용하는 옵션, 데이터를 문자열로 인코딩하지 않고 전달 -->
        <!-- text/plain : 뜨어쓰기만 '+'로 변환하고 특별한 인코딩 없이 전달 -->
        <form action="" method="post" enctype="multipart/form-data">
          {{form.as_p}} {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Upload" />
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
    {% endblock content %}
  </body>
</html>
