<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />

    <!-- 부가적인 테마 -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
    />

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>django stargram {% block title %} {% endblock title %}</title>
  </head>
  <body>
    <div class="container">
      <header class="header clearfix">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a href="/" class="navbar-brand">django stargram</a>
          <ul class="nav">
            <li class="nav-item">
              <a href="/" class="activa nav-link">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="#" class="nav-link">Welcome,{{user.get_username}}</a>
            </li>
            <li class="nav-item">
              <!-- url은 urls.py의 'app_name : name' 으로 지정한다. -->
              <a href="{% url 'photo:photo_upload' %} class="nav-link"
                >Upload</a
              >
            </li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
            {% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link">SignUp</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>

      {% block content %} {% endblock content %}
      <footer class="footer">
        <p>&copy; 2020 zuhwang.</p>
      </footer>
    </div>
  </body>
</html>
